<app-back-header title="Back to site list"></app-back-header>
<div class="details-container">
    <div class="img-container">
        <img [src]="site.photo || 'https://www.oferty-biznesowe.pl/media/thumbnail/company/10294039.jpg'" alt="">
        <span class="site-name">{{site.name}}</span>
    </div>
    <div style="position: relative; height: calc(100% - 200px);">
        <app-icon-button 
            (click)="opened = !opened"
            style="position: absolute; top: 0;right:1rem; z-index: 2; transform: translateY(-50%);"
            [colorScheme]="'white'"
            [icon]="'settings'">
        </app-icon-button>
        <div *ngIf="opened" class="options-modal"></div>
            <div [@settigs] *ngIf="opened" class="options">
                <app-icon-button 
                    (click)="onEdit()"
                    style="position: absolute; top: 20%; transform: translateY(-50%);"
                    [colorScheme]="'secondary'"
                    [title]="'Edit'"
                    [icon]="'edit'">
                </app-icon-button>
                <app-icon-button 
                    (click)="onRemove()"
                    style="position: absolute; top: 50%; transform: translateY(-50%);"
                    [colorScheme]="'secondary'"
                    [title]="'Remove'" 
                    [icon]="'delete'">
                </app-icon-button>
                <app-icon-button 
                    style="position: absolute; top: 80%; transform: translateY(-50%);"
                    [colorScheme]="'secondary'"
                    [title]="'Share'" 
                    [icon]="'share'">
                </app-icon-button>
            </div>
        
        
        <div style="padding: 1rem;" class="main-content">
            <span>{{site.address}}</span>
            <br>
            <span style="color:gray; font-size: 0.9em;">
                {{site.location.latitude | cardinalDir: 'lat'}} 
                {{site.location.longitude | cardinalDir: 'lng'}}
            </span>
            <br>
            
            <app-accordion [title]="'KPIs'">
                <div class="kpis-container">
                    <app-radial-index [value]="24" [title]="'ROI'"></app-radial-index>
                    <app-radial-index [value]="86" [title]="'PR'"></app-radial-index>
                </div>
            </app-accordion>
            <app-accordion [title]="'Weather'">
                <app-loader *ngIf="!weatherData"></app-loader>
                <div *ngIf="weatherData" class="weather-container">
                    <div class="weather-field">
                        <span style="font-size: 2.5rem;" class="material-icons">cloud</span>
                        <span>{{weatherData.cloud_cover.value}} %</span>
                    </div>
                    <div class="weather-field">
                        <span style="font-size: 2.5rem;" class="material-icons">waves</span>
                        <span>{{weatherData.surface_shortwave_radiation.value | number: '1.2-2'}} W/m<sup>2</sup></span>
                    </div>
                    <div class="weather-field">
                        <span style="font-size: 2.5rem;" class="material-icons">visibility</span>
                        <span>{{weatherData.visibility.value}} km</span>
                    </div>
                    <div class="weather-field">
                        <span style="font-size: 2.5rem;" class="material-icons">thermostat</span>
                        <span>{{weatherData.temp.value}} °C</span>
                    </div>   
                </div>
            </app-accordion>

        </div>
    </div>
</div>