<app-site-edit-header></app-site-edit-header>
<div style="width: 100%;">
    <div class="img-container">
        <img [src]="site.photo || 'https://www.oferty-biznesowe.pl/media/thumbnail/company/10294039.jpg'" alt="">
        <span class="site-name">{{site.name}}</span>
    </div>
    <div style="padding: 1em; position: relative;">
        <div (click)="opened = !opened" class="settings-button">
            <span class="material-icons option-button-icon">settings</span>
        </div>
        <div [@settigs] *ngIf="opened" class="options">
            <app-icon-button 
                (click)="onEdit()"
                style="position: absolute; top: 20%; transform: translateY(-50%);"
                [colorScheme]="'secondary'"
                [title]="'Edit'"
                [icon]="'edit'">
            </app-icon-button>
            <app-icon-button 
                (click)="onRemove()"
                style="position: absolute; top: 50%; transform: translateY(-50%);"
                [colorScheme]="'secondary'"
                [title]="'Remove'" 
                [icon]="'delete'">
            </app-icon-button>
            <app-icon-button 
                style="position: absolute; top: 80%; transform: translateY(-50%);"
                [colorScheme]="'secondary'"
                [title]="'Share'" 
                [icon]="'share'">
            </app-icon-button>
        </div>

        <span>{{site.address}}</span>
        <br>
        <span style="color:gray; font-size: 0.9em;">
            {{site.location.latitude | cardinalDir: 'lat'}} 
            {{site.location.longitude | cardinalDir: 'lng'}}
        </span>   
    </div>

</div>