.form-container {
    margin: 5%;

    & input {
        margin-bottom: 1em;
    }
}

.thumbnail-container {
    border-width: 1px;
    border-style: solid;
    border-top-color: var(--border-color);
    border-left-color: var(--border-color);
    border-right-color: var(--border-color);
    border-bottom-color: var(--border-color);
    box-shadow: none;
    transition: box-shadow 0.5s,border-bottom-color 0.5s;
    height: 150px;
    width: 100%;
    max-width: 400px;
}

.thumbnail-container:hover {
    border-bottom-color: grey;
    box-shadow: 3px 3px 3px gray; 
}

img {
    width: 100%;
    max-height: 150px;
    object-fit: cover
}

input {
    box-sizing: border-box;
    width: 100%;

    &.ng-touched.ng-invalid {
        border: 1px inset red
    }    
}


.coordinates-container {
    display: flex;

    & input {
        margin-left: 0.5em;
    }

    & input:not(:last-child) {
        margin-right: 1em;
    }
}

button {
    background-color: var(--primary-color);
    color:white;
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    border: none;
    width: 96vw;
    font-size: 1em;
    padding: 1em;
    outline: none;

    &:disabled {
        opacity: 0.5;
    }
}

// input[type=file]::-webkit-file-upload-button {
//     visibility: hidden;
// }

// input[type=file]::before {
//     content: 'SelectFile';
//     display: inline-block;
//     background-color: blue;
//     width: 3rem;
//     height: 3rem;
// }