<app-site-list-header (onFilter)="onFilter($event)"></app-site-list-header>
<div *ngIf="!mapMode" class="site-list-container">
    <app-site-list-item 
        *ngFor="let site of (sites | filterSites: filter)"
        [site]="site" >
    </app-site-list-item>
</div>
<app-site-map *ngIf="mapMode"></app-site-map>
<app-icon-button 
    (click)="onModeToggle()" 
    [icon]="mapMode ? 'list' : 'map'" 
    class="toggle-map-button">
</app-icon-button>
<app-icon-button 
    (click)="onAdd()" 
    [icon]="'add'" 
    class="add-button">
</app-icon-button>