:host {
  display: block;
  height: 100%;
}
.site-list-container {
  overflow-y: auto;
  height: calc(100% - 51px);
  display: flex;
  flex-direction: column;
}

.toggle-map-button {
  z-index: 500;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.add-button {
  z-index: 500;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
