<app-site-edit-header></app-site-edit-header>
<div style="width: 100%;">
    <div class="img-container">
        <img [src]="site.photo" alt="">
        <span class="site-name">{{site.name}}</span>
    </div>
    <div style="padding: 1em; position: relative;">
        <div (click)="opened = !opened" class="settings-button">
            <span class="material-icons option-button-icon">settings</span>
        </div>
        <div [@settigs] *ngIf="opened" class="options">
            <div style="top: 20%;" class="option-button">
                <span class="material-icons option-button-icon">edit</span>
                <span class="option-button-title">Edit</span>
            </div>
            <div style="top: 50%;" class="option-button">
                <span class="material-icons option-button-icon">delete</span>
                <span class="option-button-title">Remove</span>
            </div>
            <div  style="top: 80%;" class="option-button">
                <span class="material-icons option-button-icon">share</span>
                <span class="option-button-title">Share</span>
            </div>
        </div>

        <span>{{site.address}}</span>
        <br>
        <span style="color:gray; font-size: 0.9em;">
            {{site.location.latitude | cardinalDir: 'lat'}} 
            {{site.location.longitude | cardinalDir: 'lng'}}
        </span>   
    </div>

</div>