// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&family=Work+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: rgb(79, 120, 204);
  --border-color: #dadada;
}

body {
  box-sizing: border-box;
  // background-color: rgb(233, 233, 233);
  background: white;
  margin: 0;
  // font-family: 'Space Mono', monospace;
  font-family: "Open Sans", sans-serif;
  color: rgb(59, 59, 59);
  overflow: hidden;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 0 0 0 lightblue;
  transition: box-shadow 0.1s;

  &:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}
