// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&family=Work+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "~leaflet/dist/leaflet.css";

:root {
  --primary-color: #d01013;
  --secondary-color: #ffcf00;
  --border-color: #dadada;
  --text-dark-color: rgb(59, 59, 59);
  --button-shadow: 0 4px 4px -1px gray;
  --border-radius: 4px;
  --header-height: 50px;
  --content-height: calc(100% - 51px);
  --font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
  // height: -webkit-fill-available;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  // height: -webkit-fill-available;

  box-sizing: border-box;
  // background-color: rgb(233, 233, 233);
  background: white;
  margin: 0;
  // font-family: 'Space Mono', monospace;
  font-family: var(--font-family);
  color: var(--text-dark-color);
  overflow: hidden;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 0 0 0 lightblue;
  transition: box-shadow 0.1s;

  &:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
