:host {
  display: block;
  height: 100%;
}

.form-container {
  padding: 5%;
  height: var(--content-height);
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.field-group {
  margin-bottom: 1em;
  & .field-title {
    margin-bottom: 0.25rem;
  }
}

.thumbnail-container {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-top-color: var(--border-color);
  border-left-color: var(--border-color);
  border-right-color: var(--border-color);
  border-bottom-color: var(--border-color);
  box-shadow: none;
  transition: box-shadow 0.5s, border-bottom-color 0.5s;
  height: 150px;
  width: 100%;
  max-width: 400px;

  & button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background-color: white;
    border: none;
    outline: none;
    & span {
      font-size: 1.5rem;
      color: #3b3b3b;
    }
  }

  & span {
    font-size: 4rem;
    color: var(--border-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

input {
  box-sizing: border-box;
  width: 100%;

  &.ng-touched.ng-invalid {
    border: 1px solid red;

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(255, 118, 118, 0.25);
    }
  }
}

.coordinates-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
  & label {
    height: 100%;
  }

  & input {
    min-width: 50px;
    margin-left: 0.5em;
  }

  & input:not(:last-child) {
    min-width: 50px;
    margin-right: 1em;
  }
}

label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

button {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

input[type="file"] {
  display: none;
}
