<app-back-header [title]="id ? 'Back to site details' : 'Back to site list'"></app-back-header>
<app-site-map-selection
    (coordinatesSelected)="onCoordinatesSelected($event)"
    [coordinates]="{
        lat: form.value.location.latitude,
        lng: form.value.location.longitude
    }"
    *ngIf="selectOnMap">
</app-site-map-selection>
<form *ngIf="!selectOnMap" class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <!-- <h4>Create new site</h4> -->
        <div class="field-group">
            <label for="name">Name</label>
            <br>
            <input class="form-input" type="text" name="name" id="name" formControlName="name">
        </div>
        <div class="field-group">
            <label for="address">Address</label>
            <br>
            <input class="form-input" type="text" name="address" id="address" formControlName="address">
        </div>
        <div class="field-group">
            <label>Coordinates</label>
            <div class="coordinates-container" formGroupName="location">
                <label for="latitude">N/S</label>
                <input type="number"  name="latitude" id="latitude" formControlName="latitude" step="0.000001">
                <label for="longitude">W/E</label>
                <input type="number" name="longitude" id="longitude" formControlName="longitude" step="0.000001">
                <app-icon-button
                    (click)="onUseMyLocation()"
                    [icon]="'my_location'"
                    [colorScheme]="'secondary'"
                    [size]="'2.2rem'"
                ></app-icon-button>
            </div>
            <!-- or -->
            <app-button (click)="selectOnMap=true" [light]="true" [text]="'Select on map'"></app-button>
        </div>
        <label for="photo">Photo</label>
        <br>
        <input #fileInput type="file" name="photo" id="input" (change)="onFileUpload($event)">
        <div (click)="onUploadClick()" class="thumbnail-container">
            <img [src]="photoUrl" alt="">
            <span *ngIf="!photoUrl" class="material-icons">add_a_photo</span>
            <app-icon-button
                *ngIf="photoUrl"
                (click)="onPhotoRemove($event)"
                [colorScheme]="'white'"
                [icon]="'delete_outline'"
                [size]="'2.5rem'"
                style="position: absolute; top: 0.5rem; right: 0.5rem;"
            ></app-icon-button>
            <app-icon-button
                *ngIf="photoUrl"
                (click)="fileInput.click()"
                [colorScheme]="'white'"
                [icon]="'sync'"
                [size]="'2.5rem'"
                style="position: absolute; top: 3.5rem; right: 0.5rem;"
            ></app-icon-button>

        </div>
    </div>
    <app-button [submit]="true" [disabled]="!form.valid" [text]="'Save'"></app-button>
</form>


