<div class="radial-index">
    <div class="svg-container" [style.width.px]="size" [style.height.px]="size">
        <svg width="100%" height="100%">
            <circle 
                [style.stroke-dasharray]="l"
                [style.stroke-dashoffset]="lBase"
                [attr.cx]="radius" 
                [attr.cy]="radius" 
                [attr.r]="radius">
            </circle>
            <circle
                [style.stroke]='color'
                [style.stroke-dasharray]="l"
                [style.stroke-dashoffset]="lPrim" 
                [attr.cx]="radius" 
                [attr.cy]="radius" 
                [attr.r]="radius">
            </circle>
        </svg>
    </div>
    <div class="index-value" [style.line-height.px]="size">
        {{value/100 | percent}}
    </div>
    <div class="index-title">
        {{title}}
    </div>
</div>
